version: '3.5'

services:
  localstack:
    image: localstack/localstack
    container_name: ${PREFIX-editor}-localstack
    restart: unless-stopped
    environment:
      - SERVICES=s3,sqs
    volumes:
      - './.localstack/startup:/docker-entrypoint-initaws.d:ro'
      - './.localstack/config:/etc/localstackconf:ro'
      - './articles:/tmp/articles:ro'
    ports:
      - 4566:4566
    healthcheck:
      test: 'echo -e "GET /health\n\n" | nc ${PREFIX-editor}-localstack 4566'
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 60s

  mongo:
    image: mongo
    container_name: ${PREFIX-editor}-mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo ${PREFIX-editor}-mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s

  editor-article-store:
    image: liberoadmin/editor-article-store:${TAG-latest}
    container_name: ${PREFIX-editor}-article-store
    restart: unless-stopped
    depends_on:
      - mongo
      - localstack
    environment:
      - PORT=8080
      - DB_ENDPOINT=${PREFIX-editor}-mongo:27017
      - DB_NAME=editor
      - DB_USER=root
      - DB_PASSWORD=password
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY=key
      - AWS_SECRET_ACCESS_KEY=secret
      - AWS_BUCKET_INPUT_EVENT_QUEUE_URL=http://${PREFIX-editor}-localstack:4566/000000000000/EditorImportQueue
      - AWS_ENDPOINT=http://${PREFIX-editor}-localstack:4566
      - AWS_SRC_BUCKET=s3-editor-source-bucket
      - AWS_EDITOR_BUCKET=s3-editor-destination-bucket
      - IMPORT_TRANSFORM_ENABLED=true
      - IMPORT_TRANSFORM_URL=http://transformer:8984/v1tov2
  transformer:
    container_name: transformer
    image: elifesciences/basex-transformer:latest
    ports:
      - 8984:8984

  editor-client:
    image: liberoadmin/editor-client:${TAG-latest}
    container_name: ${PREFIX-editor}-client
    restart: unless-stopped
    depends_on:
      - editor-article-store

  nginx:
    image: nginx:alpine
    container_name: ${PREFIX-editor}-nginx
    depends_on:
      - editor-article-store
      - editor-client
    environment:
      - PREFIX=${PREFIX-editor}
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
    volumes:
      - './.nginx:/etc/nginx/templates:ro'
    ports:
      - ${PORT-4000}:80